:root {
  --mainBlue: #2a2a72;
  --lightBlue: #009ffd;
  --mainWhite: #f3f3f3;
  --mainDark: #232528;
  --mainYellow: #ffa400;
}

body {
  /* font-family: "Poppins", sans-serif !important; */
  font-family: "Roboto", sans-serif !important;
  background: var(--mainWhite) !important;
  color: var(--mainDark) !important;
}

.text-title {
  font-family: "Poppins" !important;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
}

.text-blue {
  color: var(--mainBlue);
}

.text-bright {
  color: var(--lightBlue);
}

.btn-cart {
  width: 2.3rem;
  background-color: #4EA0F8 !important;
  color: var(--mainWhite) !important;
  font-size: 1rem !important;
}

.btn-cart:hover {
  background-color: var(--mainWhite) !important;
  color: var(--lightBlue) !important;
  border: 0.1rem solid var(--lightBlue);
}